@media (max-width: 992px) {
    .hero blockquote {
      text-align: center;
    }
  
    .home-about .home-about-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem 4rem;
    }
  
    .home-history-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
    }
  
    .footer-content p {
      padding: 0 2rem;
    }
  
    /* about */
    .about-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 2rem;
    }
  
    .about-container .about-content img {
      width: 100%;
    }
  
    .mission-content p {
      margin: 0 2rem;
    }
  
    .goal-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 2rem;
    }
  
    .contact form {
      margin: 0;
    }
  
    /* career */
    .career-event {
      margin: 0 2rem;
    }
    .career-event .career-santos-fc-content,
    .career-event .career-santos-national-team-content {
      margin: 1rem 2rem 3rem;
    }
  
    /* media */
    .documentary iframe {
      width: 50rem;
    }
  }
  
  @media (max-width: 912px) {
    .contact form {
      max-width: 37rem;
      margin: 0 auto;
      background: #a3a3a3;
    }
  }
  
  @media (max-width: 845px) {
    /* media */
    .documentary iframe {
      width: 40rem;
    }
  }
  
  @media (max-width: 991px) {
    /* home */
  }
  
  @media (max-width: 786px) {
    .header .header-container {
      padding: 2rem;
    }
    .header .hero h2 {
      margin-top: 3rem;
    }
    .home-about .home-about-container {
      margin: 0 2rem;
    }
    .home-history-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 2rem 4rem;
    }
  
    .header nav {
      display: none;
    }
  
    .header .hero blockquote {
      display: none;
    }
    .career-header .hero {
      height: calc(90vh - 20px);
    }
  
    .about-hero h2,
    .media-hero h2 {
      padding-top: 10rem;
    }
  
    /* dropdown menu */
    .dropdown_menu {
      display: block;
      background-color: rgb(128, 128, 128, 0.747);
    }
  
    .dropdown_menu li a {
      color: white;
    }
  
    .dropdown_menu li .active {
      color: green;
    }
  
    .dropdown_menu li a:hover {
      border-bottom: 0.2rem solid green;
      color: green;
    }
  
    .dropdown_menu {
      left: 2rem;
      width: unset;
    }
    /* carrer */
    .career-event .career-santos-fc-content,
    .career-event .career-santos-national-team-content {
      margin: 1rem 2rem 3rem;
      justify-items: center;
    }
  
    /* media */
    .documentary iframe {
      width: 35rem;
    }
  }
  
  @media (max-width: 689px) {
    .header .hero blockquote {
      display: block;
    }
    .media-highlight-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media (max-width: 586px) {
    .home-history-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem;
    }
  
    .footer-bottom {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
    }
  
    /* career */
    .hero p:nth-child(even) {
      display: none;
    }
    .hero p:nth-child(odd) {
      display: block;
    }
    .career-event-box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .career-world-cup-content,
    .career-retirement-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    /* media */
    .media-highlight-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .video-highlight-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem;
      margin: 0 2rem;
    }
  
    .documentary iframe {
      width: 30rem;
    }
  
    .dropdown_menu {
      left: 2rem;
      width: unset;
    }
  }
  
  @media (max-width: 585px) {
    .career-header .hero {
      height: calc(90vh - 20px);
    }
  }
  
  @media (max-width: 430px) {
    .header .hero {
      height: calc(90vh - 20px);
    }
    .career-header .hero {
      height: calc(100vh - 20px);
    }
  
    /* media */
    .video-highlight-content iframe {
      width: 20rem;
    }
    .documentary iframe {
      width: 20rem;
    }
  }
  
  @media (max-width: 375px) {
    body {
      overflow-x: hidden;
    }
    /* home */
    .footer-bottom {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem 2rem;
      gap: 1rem;
    }
  
    .contact form {
      max-width: 20rem;
      margin: 0 auto;
      background: #a3a3a3;
    }
    /* media */
    .video-highlight-content iframe {
      width: 15rem;
    }
  }
  
  @media (max-width: 320px) {
    /* home */
    .career-header .hero p {
        display: none;
    }
  
    .footer-menus {
      gap: 1rem;
    }
  }
  
  @media (max-width: 280px) {
    /* home */
    .header .header-container .header-social-icons {
      display: none;
    }
    .footer-menus {
      gap: 0.8rem;
    }
  }
  