* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/* Header styling */


.about-header {
    background-color: #000;

}

.home-header {
    height: 100vh;
    font-weight: bold;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/pele-header4.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header .hero blockquote {
    font-style: italic;
}

.header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 4rem;

}

.header .header-container .logo h2 {
    font-size: 3rem;
    color: white;
}

.header .header-container nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.header .header-container nav ul li {
    font-size: 1.2rem;
}

.header .header-container nav ul .active {
    color: green;
}

.header .header-container nav ul li a {
    color: white;
}


.header .header-container nav ul li a:hover {
    color: green;
    border-bottom: 0.2rem solid green;
    padding-bottom: .1rem;
}

.header .header-container .header-social-icons {
    display: flex;
    gap: 1rem;
    color: white;
}

/* Hero Style */
.header .hero {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    height: calc(60vh - 20px);
    color: white;
}

.header .hero h2 {
    font-size: 4rem;
}

.header .hero p {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 5rem;
}

.header .hero a {
    font-weight: bold;
    border: .2rem solid green;
    padding: .5rem;
    color: white;
}

/* Header style ends */


/* Home-About Style */

.home-about {
    padding: 3rem 0;
}

.home-about .home-about-container {
    display: flex;
    align-items: center;
    margin: 0 4rem;
    gap: 2rem;
    padding: 2rem 0;
}

.home-about .home-about-container img {
    border-radius: 1rem;

}

.home-about .home-about-container .home-about-content h2 {
    font-size: 3rem;

}

.home-about .home-about-container .home-about-content p {
    font-size: 1.1rem;
    padding: 1rem 0;
}

/* Home about style ends */

/* Home History style starts */

.legend-2 {
    font-size: 3rem;
    text-align: center;
    color: green;
}

.home-history-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    margin: 2rem 4rem;
    gap: 1.5rem;
}

.home-history-container .home-history-content img {
    height: 18rem;
    width: 24rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.home-history-content {
    width: 24rem;
    background-color: grey;
    /* padding: 2rem; */
    border-radius: 0.5rem;
}

.home-history-container .home-history-content h2 {
    padding: 2rem 2rem 1rem;
}

.home-history-container .home-history-content p {
    padding: 0 2rem 2rem;
}

/* Footer styling begins here */

footer {
    background-color: #111;
    height: auto;
    overflow: hidden;
    color: #fff;
    padding-top: 40px;
    border-top-left-radius: 5rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-content h2 {
    font-size: 3rem;
    text-transform: uppercase;
}

.footer-content p {
    max-width: 1000px;
    font-size: 1.1rem;
    margin: 10px auto;

}

.footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.footer-socials li {
    margin: 0 10px;
}

.footer-socials li a {
    color: white;
    border: .1rem solid white;
    border-radius: 50%;
    padding: 5px;
}

.footer-socials li a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.footer-socials li a:hover i {
    color: green;
}

.footer-bottom {
    background-color: #000;
    padding: 20px 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-bottom p {
    font-size: 1.2rem;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a {
    color: green;
    font-size: 1.5rem;

}

.footer-menus {
    display: flex;
    gap: 2rem;

}

.footer-menus li a {
    color: green;
}

.footer-menus li a:hover {
    color: white;
    border-bottom: .2rem solid green;
}

.about-hero {
background-image: url("../images/muhammed-ali-pele.jpeg");
background-position: center;
background-size: cover;
padding: 3rem 0; 
}

.about-hero h2 {
 font-size: 3rem; 
 color: white; 
 padding: 0 4rem;

}

.about-content h2 {
    font-size: 4rem; 
    padding: 1rem; 
}

.about-container {
    display: flex; 
    margin: 2rem 7rem;
    align-items: center;
    justify-content: space-between;
    gap: 3rem; 
    
}

.about-container .about-content img {
    height: 25rem; 
    
}

.about-container .about-content p {
    font-size: 1.2rem; 
}
