* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-decoration: none;
    list-style-type: none;
    font-size: 16px;
  }
  
  /* Header styling */
  
  .about-header {
    background-color: #000;
  }
  
  .home-header {
    height: 100vh;
    font-weight: bold;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../images/pele-header4.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: anim 3s ease 0s 1 normal forwards; 

  }
  
  /* Animation */

  @keyframes anim {
    0% {
        background-position: center top;
        background-size: 80%;
    }

    90% {
        background-position: center top;
        background-size: 100%;
    }
  } 

  .career-header {
    height: 100vh;
    font-weight: bold;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../images/career-header-pele-1424x1068.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .header .hero blockquote {
    font-style: italic;
    width: 50%; 
    text-align: center; 
  }
  
  .header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
  }
  
  .header .header-container .logo h2 {
    font-size: 3rem;
    color: white;
  }
  
  .header .header-container nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
  }
  
  .header .header-container nav ul li {
    font-size: 1.2rem;
  }
  
  .header .header-container nav ul .active {
    color: green;
  }
  
  .header .header-container nav ul li a {
    color: white;
  }
  
  .header .header-container nav ul li a:hover {
    color: green;
    border-bottom: 0.2rem solid green;
    padding-bottom: 0.1rem;
  }
  
  .header .header-container .header-social-icons ul {
    display: flex;
    gap: 1rem;
  }
  
  .header .header-container .header-social-icons ul li a {
    color: white;
    font-size: 1.2rem;
  }
  
  .header .header-container .header-social-icons ul li a:hover {
    color: green;
  }
  
  /* dropdown menu */
  .dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 6.5rem;
    width: 300px;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
  }
  
  .dropdown_menu ul li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown_menu ul li a {
    font-size: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
/* Hero Style */
.header .hero {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 20px);
    color: white;
  }
  
  .header .hero h2 {
    font-size: 4rem;
  }
  
  .header .hero p {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 5rem;
  }
  
  .header .hero a {
    font-weight: bold;
    border: 0.2rem solid green;
    padding: 0.5rem;
    color: white;
  }
  
  .home-about .home-about-content a {
    font-weight: bold;
    border: 0.2rem solid green;
    padding: 0.5rem;
    color: green;
  }
  
  .home-about .home-about-content a:hover {
    background-color: green;
    color:#fff; 
    transition: 0.5s ease-in-out; 
  }
  /* Header style ends */
  
  /* Home-About Style */
  
  .home-about {
    padding: 3rem 0;
  }
  
  .home-about .home-about-container {
    display: flex;
    align-items: center;
    margin: 0 4rem;
    gap: 2rem;
    padding: 2rem 0;
  }
  
  .home-about .home-about-container img {
    border-radius: 1rem;
  }
  
  .home-about .home-about-container .home-about-content h2 {
    font-size: 3rem;
    color: green;
  }
  
  .home-about .home-about-container .home-about-content p {
    font-size: 1.1rem;
    padding: 1rem 0;
  }
  
  /* Home about style ends */
  
  /* Home History style starts */
  
  .legend-2 {
    font-size: 3rem;
    text-align: center;
    color: green;
  }
  
  .home-history-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    margin: 2rem 4rem;
    gap: 1.5rem;
  }
  
  .home-history-container .home-history-content img {
    height: 18rem;
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  
  .home-history-content {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.288);
    border-radius: 0.5rem;

  }
  
  .home-history-container .home-history-content h2 {
    padding: 2rem 2rem 1rem;
    font-size: 26px;
  }
  
  .home-history-container .home-history-content p {
    padding: 0 2rem 2rem;
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Footer styling begins here */
  
  footer {
    background-color: #111;
    height: auto;
    overflow: hidden;
    color: #fff;
    padding-top: 40px;
    border-top-left-radius: 5rem;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .footer-content h2 {
    font-size: 3rem;
    text-transform: uppercase;
  }
  
  .footer-content p {
    max-width: 1000px;
    font-size: 1.1rem;
    margin: 10px auto;
  }
  
  .footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  
  .footer-socials li {
    margin: 0 10px;
  }
  
  .footer-socials li a {
    color: white;
    border: 0.1rem solid white;
    border-radius: 50%;
    padding: 5px;
  }
  
  .footer-socials li a i {
    font-size: 1.1rem;
    transition: color 0.4s ease;
  }
  
  .footer-socials li a:hover i {
    color: green;
  }
  
  .footer-bottom {
    background-color: #000;
    padding: 20px 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-bottom p {
    font-size: 1.2rem;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  
  .footer-bottom p a {
    color: green;
    font-size: 1.5rem;
  }
  
  .footer-menus {
    display: flex;
    gap: 2rem;
  }
  
  .footer-menus li a {
    color: green;
  }
  
  .footer-menus li a:hover {
    color: white;
    border-bottom: 0.2rem solid green;
  }
  
  .about-hero {
    background-image: url("../images/muhammed-ali-pele.jpeg");
    background-position: center;
    background-size: cover;
    padding: 3rem 0;
  }
  
  .about-hero h2 {
    font-size: 3rem;
    color: white;
    padding: 0 4rem;
  }
  
  .about-content h2 {
    font-size: 4rem;
    padding: 1rem;
    color: green;
  }
  
  .about-container {
    display: flex;
    margin: 2rem 7rem;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
  }
  
  .about-container .about-content img {
    height: 25rem;
  }
  
  .about-container .about-content p {
    font-size: 1.2rem;
  }
  
  /* Mission style starts */
  
  .mission {
    padding: 2rem 0;
  }
  
  .mission h2 {
    text-align: center;
    color: green;
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  
  .mission .mission-content {
    text-align: center;
    font-size: 1.2rem;
    background-color: #f0f0f0;
  }
  
  .mission-content p {
    margin: 0 5rem;
  }
  
  .mission-content p:nth-child(1) {
    padding-top: 2rem;
  }
  
  .mission-content p:nth-child(2) {
    padding: 2rem 0;
  }
  
  /* Mission style ends */
  
  /* Goal style starts */
  
  .goal {
    padding: 2rem 0;
  }
  
  .goal h2 {
    text-align: center;
    color: green;
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  
  .goal-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    margin: 0 5rem 0 8rem;
  }
  
  .goal-content img {
    height: 20rem;
    width: 25rem;
  }
  
  .goal .goal-content {
    text-align: center;
    font-size: 1.2rem;
  }
  
  .goal-content p:nth-child(1) {
    padding-top: 2rem;
  }
  
  .goal-content p:nth-child(2) {
    padding: 2rem 0;
  }
  
  /* Goal style ends */
  
  /* Career styles begins */
  .hero p:nth-child(odd) {
    display: none;
  }
  .career-page h1 {
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    color: green;
    padding: 4rem 0 2rem;
  }
  
  .career-event {
    display: flex;
    flex-direction: column;
    margin: 0 5rem;
  }
  
  .career-event .career-santos-fc-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
    justify-items: center;
    margin: 1rem 0 3rem;
  }
  
  .career-event .career-santos-fc-content img {
    height: 21.5rem;
    padding: 1rem;
    background-color: #a3a3a3;
    width: 100%;
    border-radius: 0.5rem;
  }

  .career-event .career-santos-national-team-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 0.5rem;
    justify-items: center;
    margin: 1rem 0 3rem;
  }
  
  .career-event .career-santos-national-team-content img {
    height: 21.5rem;
    padding: 1rem;
    background-color: #a3a3a3;
    width: 100%;
    border-radius: 0.5rem;
  }
  
  .career-event h2 {
    font-size: 3rem;
    color: green;
    text-align: center;
    padding-top: 2rem;
  }
  
  .career-event p {
    font-size: 1.2rem;
    color: #222;
    text-align: center;
    padding: 1.5rem 0;
  }
  
  .career-world-cup-content img {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
  }
  
  .career-world-cup-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 0.5rem;
    margin: 1rem 0 3rem;
  }

  .career-retirement-content img {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
  }
  
  .career-retirement-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    margin: 1rem 0 3rem;
  }
  
  /* Media styles begin */
  
  .media-hero {
    background-image: url("../images/muhammed-ali-pele.jpeg");
    background-position: center;
    background-size: cover;
    padding: 3rem 0;
  }
  
  .media-hero h2 {
    font-size: 3rem;
    color: white;
    padding: 0 4rem;
  }
  
  /* highlight styles begin  */
  
  .media-highlight {
    padding: 2rem 0;
  }
  
  .media-highlight h2 {
    font-size: 3rem;
    text-align: center;
    text-transform: capitalize;
    padding: 1rem 0 2rem;
    color: green;
  }
  
  .media-highlight-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5rem;
    gap: 1.5rem;
  }
  
  .media-highlight-content img {
    height: auto;
    width: 100%;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  
  .media-quotes h2 {
    font-size: 3rem;
    color: green;
    text-align: center;
    padding: 3rem 0 2rem;
  }
  
  .media-quotes .media-quote-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-items: center;
    gap: 2rem;
    margin: 0 4rem;
  }
  
  .media-quotes .media-quote-container .media-quote-content {
    background-color: rgb(177, 174, 174);
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .media-quotes .media-quote-container .media-quote-content p {
    font-size: 1.2rem;
    text-align: center;
    padding: 0.3rem 0;
  }
  
  .media-quotes .media-quote-container .media-quote-content p:nth-child(even) {
    font-size: 1rem;
    color: green;
    text-align: right;
    text-transform: capitalize;
    font-style: italic;
  }

  .documentary {
    padding: 4rem 0 2rem;

  }
  
  .documentary iframe {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    height: 500px; 
    border: 0;
  }
  
  .documentary h2 {
    font-size: 3rem;
    color: green;
    text-align: center;
  }
  
  .contact {
    margin-bottom: 2rem;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    max-width: 37rem;
    margin: 0 auto;
    background: black;
  }
  
  .form-group {
    display: flex;
    margin: 0 1rem 1rem;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 0.5rem;
    color: white;
  }
  
  .form-group input {
    width: 95%;
    display: flex;
    align-items: center;
    height: 1rem;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
  
  .form-group textarea {
    width: 95%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
  
  .form-group button {
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    color: #f0f0f0;
    background-color: green;
    border-radius: 0.5rem;
    margin-bottom: 0;
  }
  
  .contact h2 {
    font-size: 3rem;
    color: #008000;
    text-align: center;
    padding: 2rem 0;
  }
  