* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/* Header styling */


.header {
    height: 100vh;
    font-weight: bold;

    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/pele-header4.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.header .hero blockquote {
    font-style: italic;
}

.header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 4rem;

}

.header .header-container .logo h2 {
    font-size: 3rem;
    color: white;
}

.header .header-container nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.header .header-container nav ul li {
    font-size: 1.2rem;
}

.header .header-container nav ul .active {
    color: green;
}

.header .header-container nav ul li a {
    color: white;
}


.header .header-container nav ul li a:hover {
    color: green;
    border-bottom: 0.2rem solid green;
    padding-bottom: .1rem;
}

.header .header-container .header-social-icons {
    display: flex;
    gap: 1rem;
    color: white;
}

/* Hero Style */
.header .hero {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    height: calc(60vh - 20px);
    color: white;
}

.header .hero h2 {
    font-size: 4rem;
}

.header .hero p {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 5rem;
}

.header .hero a {
    font-weight: bold;
    border: .2rem solid green;
    padding: .5rem;
    color: white;
}

/* Header style ends */


/* Home-About Style */

.home-about {
    padding: 3rem 0;
}

.home-about .home-about-container {
    display: flex;
    align-items: center;
    margin: 0 4rem;
    gap: 2rem;
    padding: 2rem 0;
}

.home-about .home-about-container img {
    border-radius: 1rem;

}

.home-about .home-about-container .home-about-content h2 {
    font-size: 3rem;

}

.home-about .home-about-container .home-about-content p {
    font-size: 1.1rem;
    padding: 1rem 0;
}

/* Home about style ends */

/* Home History style starts */

.home-history-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    margin: 2rem 4rem;
    gap: 1.5rem;
}

.home-history-container .home-history-content img {
    height: 18rem;
    width: 24rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.home-history-content {
    width: 24rem;
    background-color: grey;
    /* padding: 2rem; */
    border-radius: 0.5rem;
}

.home-history-container .home-history-content h2 {
    padding: 2rem 2rem 1rem;
}

.home-history-container .home-history-content p {
    padding: 0 2rem 2rem;
}